body {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .viewport {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .game {
    position: absolute;
  }
  
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .tileset {
    z-index: 1;
  }
  
  #layer-1 {
    z-index: 2;
  }
  
  #characters {
    z-index: 3;
  }
  